@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Lato', sans-serif;
    line-height:1.5em;
}
#header {
    background:#047aed;
    color:#fff;
    height:70px;
}
.logo {
    font-family:'Lato', sans-serif;
    font-size:30px;
    font-weight:300;
    padding:20px;
    padding-top:30px;
    padding-left:200px;
    margin-bottom:-50px;
    animation: SlideInFromLeft 1s ease-in;
}

ul {
    display:flex;
    justify-content: flex-end;
    animation: SlideInFromRight 1s ease-in;
}
li{
    list-style-type: none;
    padding:1px;
    margin-right:80px;
    
}
a {
    text-decoration:none;
    color:#fff;
    font-weight:300;
}

a:hover{
    border-bottom:1px solid #fff;
}

#showcase {
    background: #047aed;
    color:#fff;
}

.features {
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.text{
    font-weight: 300;
    margin-left:195px;
    margin-top:30px;
    line-height: 1.6em;
}
.text h2{
    font-weight:300;
    font-size: 45px;
    margin-top:30px;
}
.text p{
    font-weight:300;
    font-size: 18px;
    margin-top: 30px;
}

.f-image img {
    width:200px;
    height:200px;
    margin-left:250px;
}
#showcase-2{
    background: #ececec;
    color:#333;
}
.platform {
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.write{
    font-weight: 300;
    margin-left:195px;
    margin-top:30px;
    line-height: 1.6em;
}
.write h4 {
    font-weight:300;
    font-size: 30px;
    margin-top: 30px;
}
.write p{
    font-weight:300;
    font-size: 16px;
    margin-top: 30px;
}
.img-2 img {
    width:300px;
    height:300px;
    margin-left:250px;
}

#cards {
    margin:40px 50px;
}


.card-1 {
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding :10px;
}
.card-2 {
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding :10px;
    
}
.card-3 {
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding :10px;
}
.card-4 {
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding :10px;
}
.card-5 {
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding :10px;
}
.card-6 {
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding :10px;
}
.card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5%;
    color:#333;
}
.card > *:first-child {
    grid-column: 1 / span 3;
}
.card > *:nth-child(2) {
    grid-column: 1 / span 2;
}

#footer {
    background: #022d57;
    text-align: center;
    padding-top: 30px;
    padding-bottom:50px;
    margin-top: 60px;
}
.typo h5{
    font-size: 20px;
    font-weight: 300;
}
.navs a{
    padding:20px;
}

.navs a:hover{
    border: 1px solid #fff;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color:#fff;
}
.social a {
    padding:20px;
    font-size: 25px;
}
.social a:hover{
    border:0;
} 
@keyframes SlideInFromLeft {
    0% {
        transform:translateX(-100%)
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes SlideInFromRight {
    0% {
        transform:translateX(100%)
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width:768px) {
    
    .logo {
        margin-left:-90px;
    }
.features {
    display:flex;
    flex-wrap: wrap;
}
.text{
    font-weight: 300;
    margin-left: 80px;
    margin-top:30px;
    line-height: 1.6em;
    text-align:center;
    margin-bottom:30px;
}
.f-image img {
    width:200px;
    height:200px;
    margin-left:280px;
}

.platform {
   display: flex;
   flex-wrap: wrap;
}
#footer {
    background: #022d57;
    text-align: center;
    padding-top: 30px;
    padding-bottom:50px;
    margin-top: 90px;
}
.write{
    font-weight: 300;
    margin-left:60px;
    margin-top:30px;
    line-height: 1.6em;
}
.navs a{
    padding:10px;
}
.navs a:hover{
    border:0;
}
.social a {
    padding:10px;
    font-size: 25px;
}
}

@media (max-width:500px) {
    .logo {
        font-family:'Lato', sans-serif;
        font-size:30px;
        font-weight:300;
        margin-bottom:-10px;
        text-align:start;
        background:rgba(0, 0, 0, 0.1);
    }
    
     .one ul {
        display:flex;
        justify-content: center;
        padding:10px;
        margin-left:70px;
        
     }

     .one a {
         color:#fff;
         border-bottom: 1px solid #fff;
     }
     .features {
        display:flex;
        flex-wrap: wrap;
    }
    .text{
        font-weight: 300;
        margin-left: 10px;
        margin-top:50px;
        line-height: 1.6em;
        text-align:center;
        margin-bottom:30px;
    }
    .f-image img {
        width:200px;
        height:200px;
        margin-left:120px;
    }
    .text h2{
        font-weight:300;
        font-size: 35px;
        margin-top:30px;
    }
    .img-2 img {
        width:300px;
        height:300px;
        margin-left:60px;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        color:#333;
    }
    .card-1{
        margin-bottom:25px;
    }
    .card-2{
        margin-bottom:25px;
    }
    .card-3{
        margin-bottom:25px;
    }
    .card-4{
        margin-bottom:25px;
    }
    .card-5{
        margin-bottom:25px;
    }
    .card-6{
        margin-bottom:1px;
    }
    #footer {
        background: #022d57;
        text-align: center;
        padding-top: 30px;
        padding-bottom:50px;
        margin-top: 1px;
    }
    .navs {
        display:flex;
        flex-wrap: wrap;
    }
    .navs a{
        padding-top:5px;
        margin-left:30px;
        padding:5px;
        line-height: 2em;
    }
    .navs a:hover{
        border:0;
    }
    .social a {
        padding:20px;
        font-size: 25px;
        line-height: 2em;
    }
    .typo h5{
        font-size: 20px;
        font-weight: 300;
        line-height: 2em;
    }
}

@media(min-width:320px) and (max-width:360px) {
    .logo {
        font-family:'Lato', sans-serif;
        font-size:30px;
        font-weight:300;
        padding-left:220px;
        margin-bottom:-10px;
        text-align:start;
        background:rgba(0, 0, 0, 0.1);
    }
    .f-image img {
        width:200px;
        height:200px;
        margin-left:80px;
    }
    
}

@media(min-width:361px) and (max-width:375px) {
    .logo {
        font-family:'Lato', sans-serif;
        font-size:30px;
        font-weight:300;
        padding-left:230px;
        margin-bottom:-10px;
        text-align:start;
        background:rgba(0, 0, 0, 0.1);
    }
    .f-image img {
        width:200px;
        height:200px;
        margin-left:90px;
    }

}
@media(min-width:376px) and (max-width:430px) {
    .logo {
        font-family:'Lato', sans-serif;
        font-size:30px;
        font-weight:300;
        padding-left:250px;
        margin-bottom:-10px;
        text-align:start;
        background:rgba(0, 0, 0, 0.1);
    }
    .f-image img {
        width:200px;
        height:200px;
        margin-left:110px;
    }
}
